
<div>
  <h1 style="color:gainsboro; padding: 10px;">The videos you asked for..</h1>
<div *ngFor="let video of CardData" class="col-xl-4 col-md-4 mb-4" style="display: inline-flex; padding: 30px; padding-top: 0px; ">
  <div class="card border-0 shadow vh-50" style="border-radius: 25px;">
  <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
  <img [src]="video.snippet.thumbnails.high.url" class="card-img-top" alt="..." style="border-top-left-radius: 25px;border-top-right-radius: 25px;"></a>
  <div class="card-body text-center">
  <h5 class="card-title mb-0">
  <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}
  </a></h5>
  <div class="card-text text-black-50">{{video.snippet.description.slice(0, 60)}}</div>
  
  </div>
  </div>
  </div>
</div>


<!--div *ngFor = "let d of datav" style="padding: 10px;display: inline-flex;">
<div class="card" *ngIf='d.visible'  style="width: 38rem;">
  <div class="card-body" >
    <h5 class="card-title">{{d.title}}</h5>
    <p class="card-text">This video was uploaded by {{d.channel}}</p>
  </div>
  <div class="card-body">
    <a [routerLink] = "['/video-details', d.title, d.channel]"  class="card-link">Video details</a>
    <a href="#" class="card-link">Watch video</a>
  </div>
</div>
<div style="padding: 10px;"></div>
</div-->


