<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{title}}</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <p>This was uploaded by {{channel}} </p>
    </div>
    <div style="padding-left: 80px; padding-right: 20px;">
    <button type="button" class="btn btn-secondary" (click)=goToHomePage()>Go Back</button>
    &nbsp;
    <button type="button"  class="btn btn-outline-primary" (click)=goToEditPage()>Edit Details</button>
  </div> 